*{
    margin: 0;
    padding: 0;
}

.cabeçalho {
    background-color: #424E61;
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 24px 0;
}

.cabeçalho-imagem{
    width: 20%;

}
.cabeçalho-lista-item{

    display: inline-block;
    margin: 0 16px;
    font-size: 24px;
}

.rede-imagem{
    width: 25%;
}

.orçamento{
    background-image: linear-gradient(#03071B,#383D58);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 24px 0;
}

.orçamento-div-conteudo{
    width: 33%;
}

.orçamento-titulo{
    padding: 24px 0;
}

